 
# Dependencies
**/node_modules/

# Environment variables
backend/.env
client/.env

# Build folders
**/dist/
**/build/

# Logs
npm-debug.log*

# Uploads
backend/uploads/*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/